<div class="grid-container">
  <h1 class="mat-h1">Generación de Cotizacion</h1>
  <form [formGroup]="formGroup">
    <mat-horizontal-stepper formArrayName="formArray" linear>
      <mat-step [completed]="isValid">
        <ng-template matStepLabel>Escoge los Materiales</ng-template>
        <div>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>
      <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
        <ng-template matStepLabel>Indica los Porcentajes</ng-template>
        <div>
          <button mat-button matStepperPrevious type="button">Anterior</button>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>