mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child{
    padding-left: 10px;
    width: 20px;
    display: contents;
}

mat-cell{
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
}

mat-form-field{
    width: 100%;
}

.left-align{
    display: inline-block;
    text-align: right;
}

.red-carret{
    caret-color: #fc6f65;
    color:#fc6f65;
}